@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #FFF;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-weight: 700;
}
h1, .h1{
  font-size: 72px;
}
h2, .h2{
  font-size: 60px;
}
/* ====== Header CSS Start ======================================== */
header {
  width: 100%;
  padding: 10px 30px;
  background-color: #000;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  max-width: 40%;
  object-fit: contain;
  max-height: 30%;
}

.brandName {
  color: #FFF;
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
}
.brandName::before, .brandName::after{
  position: absolute;
  content: '';
  width: 12px;
  height: 25px;
}
.brandName::before {
  background-image: url(border-before.svg);
  background-size: 100% 100%;
  left: -6px;
  top: 3px;
}
.brandName::after{
  background-image: url(border-after.svg);
  background-size: 100% 100%;
  right: -6px;
  bottom: 3px;
}

/* header nav ul {
  margin: 0;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #FFF;
  text-decoration: none;
} */
/* ====== Header CSS End ======================================== */


/* ====== Main CSS Start ======================================== */

.bannerHeading {
  color: rgb(243, 210, 79);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 75px;
}

.matter{
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 5px;
}
.matter span {
  text-decoration: underline;
  font-size: 30px;
}

.matter-text{
    text-align: center;
    margin: 50px;
}

.btn-primary{
    border: 2px solid;
    padding: 11px 22px;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
  }

  .btn-primary:hover, .btn-primary:focus{
    background: transparent;
    border-color: rgb(243, 210, 79);
  }
  .threeColumn{
    gap: 0;
    margin: 0;
  }

  .column-one{
    border-radius: 10%;
    height: 300px;
    background-color: #f3d24f;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-bottom: 10px;
  }

  .column-two{
    border-radius: 10%;
    height: 300px;
    background-color: #f68887;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column-three{
    border-radius: 10%;
    height: 300px;
    background-color: #91ccf4;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column-four{
    border-radius: 10%;
    height: 300px;
    background-color: #e591f4;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column-five{
    border-radius: 10%;
    height: 300px;
    background-color: #f3d24f;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column-six{
    border-radius: 10%;
    height: 300px;
    background-color: #f68887;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column-seven{
    border-radius: 10%;
    height: 300px;
    background-color: #91ccf4;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column-eight{
    border-radius: 10%;
    height: 300px;
    background-color: #e591f4;
    text-align: center;
    color: #000;
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .columnHeading {
      text-align: center;
      margin-bottom: 40px;
      font-size: 48px;

  }
  .column-heading{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
  }

  .social-icons{
    color: #0056b3;
  }

  .media-block {
    display: flex;
    align-items: center;
    height: 600px;
  }
  
  .content {
      padding: 130px 30px;
      height: 500px;
  }
  
  .group {
    padding: 10px;
  }

  .group p{
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

  p {
    margin-left: 10px;
    margin-bottom: 1rem;
}
  
  .spacer {
    height: 1em;
  }
  
  .buttons {
    display: flex;
    margin-left: 10px;
  }
  

  .btn-secondary{
    color: #000;
    padding: 11px 22px;
    border-radius: 2px;
    background-color: #f68887;
    background-image: none;
    cursor: pointer;
  }

  .btn-secondary:hover, .btn-secondary:focus{
    background: transparent;
    border-color: rgb(243, 210, 79);
  }
  
  figure {
    margin-left: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  


.left-content, .right-content {
    width: 45%; 
    padding: 80px 80px; 
}

.right-content {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.right-content img {
  max-width: 100%;
  height: auto;
}

.card{
  height: 600px;
}

.headline{
  color: black;
}

.content  {
  display: flex;
  align-items: center;
}

.content h2 {
  font-size: 24px;
  margin-top: 50px;
}

.container .image, .container .text {
  flex: 0 0 auto;
}

.container .image img {
  max-width: 100%;
  height: auto;
}


.laptop-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.laptop-text .container {
  display: flex;
  align-items: center;
}

.laptop-text .container figure {
  margin-right: 20px;
}

.laptop-text .container figure img {
  max-width: 100%;
  height: auto;
  background-color: #91ccf4;
 
}

.laptop-text .content-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1;
  margin-top: -17px;
  margin-left: -20px;
  padding: 0;
  color: #000;
}

.laptop-text .content-text h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.laptop-text .content-text p {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.laptop-text .content-text p:last-child {
  font-size: 14px;
  margin-bottom: 0;
}

.content-text {
  background-color: #91ccf4;
  height: 720px;
  width: auto;
}

.btn-seo{
  border: 2px solid;
  padding: 11px 22px;
  border-radius: 2px;
  background-color: transparent;
  background-image: none;
  margin-left: 180px;
  margin-top: 15px;
}

.btn-seo:hover, .btn-seo:focus{
  background: transparent;
  border-color: rgb(243, 210, 79);
}

/* ------- */

/* --------Contact US CSS Start ------- */

.contact-us  {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.button, input, optgroup, select, textarea {
  color: #FFF;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  width: 40%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent;
}

.contact-us h2{
  font-size: 50px;
}

/* -------Contact US CSS End ---------- */

/* --------Clients CSS Start ----- */

.clients {
  margin-top: 50px;
  padding-bottom: 18px;
  text-align: center;
}

.clients .our-clients {
  margin-bottom: 10px;
  font-size: 24px;
}

.clients hr {
  border: none;
  height: 3px;
  background-color: rgb(243, 210, 79);
  opacity: 0.5;
  margin: 0 auto 10px;
  width: 15%;
}

.clients p {
  margin-bottom: 0;
}

textarea {
  height: 100px;
}

/* -------Clients CSS End -------- */

/* -----Team Members CSS----- */

.team-container {
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  padding: 20px;
}

.team-member .team-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 14px;
  margin: 0;
}
.team-member{
  display: inline-block;
}
.team-btn {
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white;
  border: 2px solid;
  padding: 11px 22px;
  border-radius: 2px;
  background-color: transparent;
  background-image: none; 
}
.team-button {
  display: inline-block;
  margin: 50px 650px;
}


.team-btn:hover, .team-btn:focus{
  background: transparent;
  background-color: rgb(243, 210, 79);
}

.team-member {
    text-align: center;
}

.team-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.team-image img:hover {
    transform: scale(1.1);
}

.team-member h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.team-member p {
    margin: 0;
}




/* -----Blog Container CSS Start */

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.separator {
  width: 100%;
  border: none;
  border-bottom: 5px solid orange; 
  margin-bottom: 10px;
}

.blog-heading {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 24px;
}

.social-links-container {
  display: flex;
  align-items: center;
}

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.social-links li {
  margin-right: 10px; 
}

.social-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.blog-subscribe {
  margin: 0;
}


/* --------Blog with Image CSS Start  */

.query-container {
  width: 100%;
  margin: 0 auto;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post {
  margin-bottom: 30px;
}

.post-content {
  text-align: center;
}

.post-image {
  margin-bottom: 15px;
}

.post-image img {
  display: flex;
  max-width: 100%;
  height: 200px;
}

.post-title {
  display: flex;
  font-size: 24px;
  margin: 20px 90px;
}

.post-title a {
  color: #FFF; 
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}


/* ====== Main CSS End ======================================== */


/* -----Footer CSS Start------ */

.site-footer {
  background-color: #101010; 
  color: #f8f0f0; 
  padding: 64px 0; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-section, .information-section, .connect-section, .scroll-top {
  flex-basis: calc(25% - 1em); 
  padding: 0 35px; 
  line-height: 35px;
}

.about-section h5,.information-section h5, .connect-section h5 {
  color: #f8f0f0; 
}

.about-text a{
  text-decoration: none;
  color: white;
}

.social-links {
  list-style: none;
  padding: 0;
  color: yellow;
  font-size: 30px;
}

.social-links li {
  display: inline;
  margin-bottom: 0.5em;
}

.social-links a{
  text-decoration: none;
  color: yellow;
}
.social-links a:hover {
  text-decoration: none;
  background-color: transparent;
}

.scroll-top a {
  font-size: 24px; 
  margin-left: 145px;
}

.site-navigation li {
  list-style: none;
}

.site-navigation ul li a{
  text-decoration: none;
  color: white;
  
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -30px;
}

.about-text {
  margin-left: 0px;
  margin-bottom: 1rem;
}

.about-section h5{
  margin-left: 15px;
}
/* -------Footer CSS End-------- */


.form .text-danger
{
  display: block;
  padding: 5px;
}
